# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Bower
bower_components/

# Dist folder
dist/

# IDE/Editor data
.idea/
.vscode

# macOS
.DS_Store